.myLi {
    margin: 5px;
}

.menuList.active {
    visibility: hidden;
}

.menuList {
    left: auto;
    position: absolute;
    top: 40px;
    width: auto;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #992C5A;
    border-radius: 5px;
    list-style-type: none;
    font-size: 20px;
}