.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.myModalContent {
    padding: 0px;
    background: #992C5A;
    border-radius: 30px;
    min-width: 240px;
    height: 315px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}